---
import Layout from "@/layouts/Layout.astro";
import Hero from "../Hero.astro";

import { getI18N } from "@/i18n";

import ArrowDown from "@/icons/arrow-down.astro";
import About from "../About.astro";
import Card from "../generic/Card";

import ReactIcon from '@/icons/react.jsx'
 
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const skills = [
    "React",
    "Tailwind",
    "HTML",
    "CSS",
    "JavaScript",
    "Java",
    "Postgresql",
    "Astro",
    "Git"
]
---

<Layout title="devoncats | Fullstack Developer">
    <main
        id="hero"
        class="px-36 pt-36 pb-64 h-[94vh] flex flex-col justify-around"
    >
        <Hero />
    </main>

    <section class="relative">
        <div class="absolute right-16 -translate-y-12">
            <a href="#about" class="text-sm flex gap-2 items-center">
                {i18n.HERO.SCROLL_MESSAGE}
                <ArrowDown />
            </a>
        </div>
    </section>

    <About />

    <article
        id="hero"
        class="h-[50vh] flex flex-col items-center px-36 py-16 gap-16"
    >
        <h2 class="font-serif text-4xl">Skills</h2> 

        <section class="grid grid-cols-[repeat(3,_12rem)] justify-between text-center w-3/4 gap-y-8 gap-x-8">
            {
                skills.map((skill) => (<Card skill={skill} client:visible />))
            }
        </section>
    </article>
</Layout>

<style>
    #hero {
        background-size: 40px 40px;
        background-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.03) 1px,
                transparent 1px
            ),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
    }
</style>
