---
import Layout from '@/layouts/Layout.astro'
import Hero from '../Hero.astro';

import { getI18N } from "@/i18n";

import GithubIcon from '@/icons/github.astro';
import LinkedinIcon from '@/icons/linkedin.astro';
import TwitterIcon from '@/icons/twitter.astro';
import InstagramIcon from '@/icons/instagram.astro';

import ArrowDown from '@/icons/arrow-down.astro'

const { currentLocale  } = Astro
const i18n = getI18N({ currentLocale })

---

<Layout title='devoncats | Fullstack Developer'>
	<main id="app" class="px-36 pt-36 pb-64 h-[94vh] flex flex-col justify-around">
        <Hero />
    </main>

    <section class="relative">
        <div class="absolute right-16 -translate-y-12">
            <a href="#test" class="text-sm flex gap-2 items-center">
                { i18n.HERO.SCROLL_MESSAGE }
                <ArrowDown />
            </a>
        </div>
    </section>

    <article class='px-36 py-12 flex flex-col items-center gap-16'>
        <h1 class="font-serif text-4xl">About me</h1>
        
        <section class="flex justify-between">
            <picture class="">
                <img
                    src="https://avatars.githubusercontent.com/u/136870539?s=400&u=97a6d31363d803209e0116d59dfccfabe8dd68a8&v=4"
                    alt="devoncats logo"
                    class="size-96 shadow-lg"
                />
            </picture>
            
            <div class="w-1/2 flex flex-col gap-8">
                <p>Hello! I'm Jose Vasquez, a passionate and dedicated full stack developer with expertise in JavaScript, PostgreSQL, Java, and React. With a strong foundation in both front-end and back-end development, I create seamless and efficient web applications that meet user needs and business goals.</p>   
                <p>Beyond my technical abilities, I excel in time management and teamwork. I believe in the power of collaboration and strive to contribute positively to every project and team I'm a part of. Whether it's meeting tight deadlines or working seamlessly with cross-functional teams, I bring a balanced approach that combines technical excellence with effective communication and organizational skills.</p>
                    
                <div class="flex gap-4">
                    <button class="border px-4 py-2 rounded-lg"><LinkedinIcon /></button>
                    <button class="border px-4 py-2 rounded-lg"><GithubIcon /></button>
                    <button class="border px-4 py-2 rounded-lg"><TwitterIcon /></button>
                    <button class="border px-4 py-2 rounded-lg"><InstagramIcon /></button>
                </div>
            </div>
        </section>
    </article>
</Layout>

<style>
    #app {
    background-size: 40px 40px;
     background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
    }
    
</style>